// Imports
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

// HTML
html {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Decorations
.plainLink {
  color: inherit;
  text-decoration: none;
}

p {
  &.light {
    font-weight: light;
  }
}

// Spacing and Layout
.flex {
  display: flex;
  flex-wrap: wrap;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}

.root-container {
  display: flex;
  min-width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2em;
  margin: 1em;
  gap: 1em;
}
